.boardContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    margin: 15px 0;
}

.rowContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5%;
    height: 100%;
}

.boardRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}

.solutionContainer {
    display: flex;
    flex-direction: row;
}

.gameOverMessage {
    width: 100%;
    left: 0%;
    top: 72%;
}

.errorMessage {
    position: absolute;
    color: red;
    width: 100%;
    left: 0%;
    top: 10%;
}

.loadingMessage {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 10%;
}

.playAgain {
    position: absolute;
    max-width: 100px;
    width: 20%;
    top: 10%;
}
