.keyboardContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    margin: 15px 0;
}

.firstRowContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    height: 100%;
}

.enterKey {
    height: 30px;
    width: fit-content;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-right: 5px;
    padding: 10px 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.backKey {
    height: 30px;
    width: fit-content;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-right: 5px;
    padding: 10px 8px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
